@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
  line-height: 1.4;
  color: white;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --black: hsl(230, 35%, 7%);
  --lila: hsl(231, 77%, 90%);
  --white: hsl(0, 0%, 100%);
  --off-white: 0 0% 90%;
}

.grid {
  display: grid;
}

.flex--row {
  display: flex;
}

:root {
  --ff-accent-text: "Bellefair", serif;
  --ff-simple-text: "Barlow Condensed", sans-serif;
  --fs-100: 0.7rem;
  --fs-200: 0.9rem;
  --fs-300: 1.2rem;
  --fs-400: 1.8rem;
  --fs-500: 3.3rem;
  --fs-600: 5.7rem;
  --fs-700: 8rem;
}

@media (min-width: 760px) {
  :root {
    --fs-100: 0.9rem;
    --fs-200: 1rem;
    --fs-300: 1.8rem;
    --fs-400: 2rem;
    --fs-500: 3.8rem;
    --fs-600: 6.3rem;
    --fs-700: 9.4rem;
  }
}
@media (min-width: 1440px) {
  :root {
    --fs-100: 0.9rem;
    --fs-200: 1rem;
    --fs-300: 1.8rem;
    --fs-400: 2rem;
    --fs-500: 3.8rem;
    --fs-600: 6.3rem;
    --fs-700: 9.4rem;
  }
}
.nav {
  font-family: var(--ff-simple-text);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: var(--fs-100);
  color: var(--white);
}
.nav__number {
  margin-right: 0.5rem;
  font-weight: 700;
}

.bg-home {
  background-image: url(../../assets/home/background-home-mobile.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-size: cover;
}
@media (min-width: 760px) {
  .bg-home {
    background-image: url(../../assets/home/background-home-tablet.jpg);
  }
}
@media (min-width: 1440px) {
  .bg-home {
    background-image: url(../../assets/home/background-home-desktop.jpg);
  }
}

.bg-destination {
  background-image: url(../../assets/destination/background-destination-mobile.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-size: cover;
}
@media (min-width: 760px) {
  .bg-destination {
    background-image: url(../../assets/destination/background-destination-tablet.jpg);
  }
}
@media (min-width: 1440px) {
  .bg-destination {
    background-image: url(../../assets/destination/background-destination-desktop.jpg);
  }
}

.bg-crew {
  background-image: url(../../assets/crew/background-crew-mobile.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-size: cover;
}
@media (min-width: 760px) {
  .bg-crew {
    background-image: url(../../assets/crew/background-crew-tablet.jpg);
  }
}
@media (min-width: 1440px) {
  .bg-crew {
    background-image: url(../../assets/crew/background-crew-desktop.jpg);
  }
}

.bg-transport {
  background-image: url(../../assets/transport/background-technology-mobile.jpg);
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  background-size: cover;
}
@media (min-width: 760px) {
  .bg-transport {
    background-image: url(../../assets/transport/background-technology-tablet.jpg);
  }
}
@media (min-width: 1440px) {
  .bg-transport {
    background-image: url(../../assets/transport/background-technology-desktop.jpg);
  }
}

header {
  padding: 3rem 2rem;
  padding-right: 0;
  align-items: center;
}

.logo {
  margin-right: 3rem;
}

.line {
  width: 30%;
  height: 2px;
  z-index: 2;
  background-color: hsla(var(--off-white)/0.1);
}

.main-navbar {
  display: flex;
  position: absolute;
  right: 0;
  height: 5rem;
  width: max(60vw, 1000px);
  padding: 0 6rem;
  background-color: hsla(var(--off-white)/0.05);
  -webkit-backdrop-filter: blur(0.5rem);
          backdrop-filter: blur(0.5rem);
  z-index: 1;
}

.nav__list {
  display: flex;
  height: 100%;
  gap: 2rem;
}

.nav__item {
  display: grid;
  place-items: center;
  cursor: pointer;
}

.nav__item:hover {
  border-bottom: 3px solid var(--lila);
}

.nav__item:hover a {
  transform: translateY(1.1px);
}

.nav__item:active {
  border-bottom: 3px solid var(--white);
}

.nav__item.current-page {
  border-bottom: 3px solid var(--white);
}

.nav__item.current-page a {
  transform: translateY(1.1px);
}/*# sourceMappingURL=style.css.map */