@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400&family=Bellefair&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
  line-height: 1.6;
  min-height: 100vh;
  overflow-x: hidden;
  color: white;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --black: hsl(230, 35%, 7%);
  --lila: hsl(231, 77%, 90%);
  --white: hsl(0, 0%, 100%);
  --off-white: 0, 0%, 90%,;
}

.grid {
  display: grid;
}

.flex--row {
  display: flex;
}

:root {
  --ff-accent-text: "Bellefair", serif;
  --ff-simple-text: "Barlow Condensed", sans-serif;
  --fs-100: 0.9rem;
  --fs-200: 1rem;
  --fs-300: 1.5rem;
  --fs-400: 1.8rem;
  --fs-500: 3.4rem;
  --fs-600: 5.9rem;
  --fs-700: 8.7rem;
}

@media (min-width: 421px) {
  :root {
    --fs-300: 1.8rem;
    --fs-400: 2rem;
    --fs-500: 3.8rem;
    --fs-600: 6.3rem;
    --fs-700: 9.4rem;
  }
}
@media (min-width: 1200px) {
  :root {
    --fs-300: 1.8rem;
    --fs-400: 2rem;
    --fs-500: 3.8rem;
    --fs-600: 6.3rem;
    --fs-700: 9.4rem;
  }
}
.nav {
  font-family: var(--ff-simple-text);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: var(--fs-200);
  color: var(--white);
}
.nav__number {
  margin-right: 0.5rem;
  font-weight: 700;
}

.bg-home {
  background-image: url(../../assets/home/background-home-mobile.jpg);
  background-size: cover;
  background-position: bottom center;
}
@media (min-width: 421px) {
  .bg-home {
    background-image: url(../../assets/home/background-home-tablet.jpg);
    background-size: cover;
    background-position: center center;
  }
}
@media (min-width: 1200px) {
  .bg-home {
    background-image: url(../../assets/home/background-home-desktop.jpg);
  }
}

.bg-destination {
  background-image: url(../../assets/destination/background-destination-mobile.jpg);
  background-size: cover;
  background-position: bottom center;
}
@media (min-width: 421px) {
  .bg-destination {
    background-image: url(../../assets/destination/background-destination-tablet.jpg);
    background-size: cover;
    background-position: center center;
  }
}
@media (min-width: 1200px) {
  .bg-destination {
    background-image: url(../../assets/destination/background-destination-desktop.jpg);
  }
}

.bg-crew {
  background-image: url(../../assets/crew/background-crew-mobile.jpg);
  background-size: cover;
  background-position: bottom center;
}
@media (min-width: 421px) {
  .bg-crew {
    background-image: url(../../assets/crew/background-crew-tablet.jpg);
    background-size: cover;
    background-position: center center;
  }
}
@media (min-width: 1200px) {
  .bg-crew {
    background-image: url(../../assets/crew/background-crew-desktop.jpg);
  }
}

.bg-transport {
  background-image: url(../../assets/transport/background-technology-mobile.jpg);
  background-size: cover;
  background-position: bottom center;
}
@media (min-width: 421px) {
  .bg-transport {
    background-image: url(../../assets/transport/background-technology-tablet.jpg);
    background-size: cover;
    background-position: center center;
  }
}
@media (min-width: 1200px) {
  .bg-transport {
    background-image: url(../../assets/transport/background-technology-desktop.jpg);
  }
}

header {
  align-items: center;
}

.logo {
  margin-right: 4rem;
}

.line {
  display: none;
}

.nav-toggle {
  display: none;
}

.main-navbar {
  --_blur: 2rem;
  display: flex;
  width: clamp(400px, 55vw, 60vw);
  padding-left: 2rem;
  background-color: hsl(var(--off-white) 0.1);
  -webkit-backdrop-filter: blur(var(--_blur));
          backdrop-filter: blur(var(--_blur));
  z-index: 1;
}

.nav__list {
  --_gap: 2rem;
  display: flex;
  gap: var(--_gap);
}

.nav__item {
  cursor: pointer;
}

.nav__item a {
  transform: translateY(0);
}

@media (max-width: 420px) {
  .logo {
    height: 2rem;
    margin: 1.5rem;
  }
  .nav__list {
    flex-direction: column;
    padding-top: 6rem;
  }
  .main-navbar {
    position: fixed;
    inset: 0 0 0 30%;
    transform: translateX(100%);
    transition: transform 300ms ease-in-out;
  }
  .main-navbar.menu-open {
    transform: translateX(0);
  }
  .nav-toggle {
    display: block;
    position: absolute;
    z-index: 10;
    right: 1.5rem;
    top: 2rem;
    background: transparent;
    background-image: url(../../assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
  }
  .nav-toggle.menu-close {
    background-image: url(../../assets/shared/icon-hamburger.svg);
    animation: nav-toggle-close 300ms ease-in-out;
  }
  @keyframes nav-toggle-close {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  .nav-toggle.menu-open {
    background-image: url(../../assets/shared/icon-close.svg);
    animation: nav-toggle-x 300ms ease-in-out;
  }
  @keyframes nav-toggle-x {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
}
@media (min-width: 421px) {
  header {
    margin-left: 2rem;
  }
  .main-navbar {
    position: absolute;
    right: 0;
  }
}
@media (min-width: 1200px) {
  header {
    margin-top: 4rem;
    margin-left: 3rem;
  }
  .line {
    display: block;
    width: 40%;
    height: 0.5px;
    z-index: 2;
    background-color: hsla(var(--off-white) 0.3);
  }
  .main-navbar {
    padding: 0 6rem;
    position: absolute;
    right: 0;
  }
  .nav__item:hover {
    border-bottom: 3px solid var(--lila);
  }
  .nav__item:hover a {
    transform: translateY(1.1px);
  }
  .nav__item:active {
    border-bottom: 3px solid var(--white);
  }
  .nav__item.current-page {
    border-bottom: 3px solid var(--white);
  }
  .nav__item.current-page a {
    transform: translateY(1.1px);
  }
}/*# sourceMappingURL=style.css.map */