@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400&family=Barlow:wght@300;400&family=Bellefair&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

body {
  line-height: 1.4;
  height: 100vh;
  overflow-x: hidden;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
:root {
  --black: hsl(230, 35%, 7%);
  --lila: hsl(231, 77%, 90%);
  --white: hsl(0, 0%, 100%);
  --off-white: 0, 0%, 90%,;
}

.container {
  width: 90%;
  margin-inline: auto;
  max-width: 1200px;
}
@media (min-width: 421px) {
  .container {
    width: 65%;
    margin-top: 1rem;
  }
}
@media (min-width: 1050px) {
  .container {
    width: 85%;
  }
}

@media (min-width: 421px) {
  .transport__container {
    margin-top: 1rem;
  }
}

@media (min-width: 421px) {
  .container--section {
    margin-top: 2.5rem;
  }
}
@media (min-width: 1050px) {
  .container--section {
    margin-top: 5vh;
    width: 85%;
    margin-inline: auto;
    max-width: 1200px;
  }
}

.flex--row {
  display: flex;
}

:root {
  --ff-accent-text: "Bellefair", serif;
  --ff-simple-text: "Barlow Condensed", sans-serif;
  --ff-simple-text-2: "Barlow", sans-serif;
  --fs-100: 0.9rem;
  --fs-200: 1rem;
  --fs-300: 1.2rem;
  --fs-400: 1.5rem;
  --fs-500: 2rem;
  --fs-600: 4rem;
  --fs-700: 6rem;
}

@media (min-width: 421px) {
  :root {
    --fs-200: 1.3rem;
    --fs-300: 1.5rem;
    --fs-400: 2rem;
    --fs-500: 2.5rem;
    --fs-600: 6.3rem;
    --fs-700: 9.4rem;
  }
}
@media (min-width: 1050px) {
  :root {
    --fs-200: 1.3rem;
    --fs-300: 1.8rem;
    --fs-400: 2rem;
    --fs-500: 3.8rem;
    --fs-600: 6.3rem;
    --fs-700: 9.4rem;
  }
}
.text-info {
  font-family: var(--ff-simple-text-2);
  line-height: 1.7;
  letter-spacing: 0.8px;
  font-weight: 300;
  font-size: var(--fs-200);
  color: var(--lila);
}
@media (min-width: 1050px) {
  .text-info {
    font-family: var(--ff-simple-text-2);
    line-height: 1.7;
    letter-spacing: 0.8px;
    font-weight: 300;
    font-size: var(--fs-100);
    color: var(--lila);
  }
}

.section-title {
  font-family: var(--ff-simple-text);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 300;
  font-size: var(--fs-200);
  color: var(--white);
}
.section-title--number {
  margin-right: 1rem;
  font-weight: 700;
  color: hsl(var(--off-white) 0.6);
}
@media (min-width: 1050px) {
  .section-title {
    font-size: var(--fs-300);
  }
}

.nav {
  font-family: var(--ff-simple-text);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: var(--fs-100);
  color: var(--white);
}
.nav__item--number {
  margin-right: 0.5rem;
  font-weight: 700;
}

.home__title {
  font-family: var(--ff-simple-text);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: var(--fs-300);
  color: var(--lila);
}
.home__title--big {
  font-family: var(--ff-accent-text);
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
  font-size: var(--fs-700);
  color: var(--white);
}
.home__btn {
  font-family: var(--ff-accent-text);
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: var(--fs-300);
  color: var(--black);
}
@media (min-width: 421px) {
  .home__btn {
    font-family: var(--ff-accent-text);
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    font-size: var(--fs-400);
    color: var(--black);
  }
}

.destination__tabs-list {
  font-family: var(--ff-simple-text);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: var(--fs-100);
  color: var(--lila);
}
.destination__planet-title {
  font-family: var(--ff-accent-text);
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 3px;
  font-size: var(--fs-600);
  color: var(--white);
}

.travel-info__title {
  font-family: var(--ff-simple-text);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: var(--fs-100);
  color: var(--lila);
}
.travel-info__text {
  font-family: var(--ff-accent-text);
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  font-size: var(--fs-500);
  color: var(--white);
}
@media (min-width: 1050px) {
  .travel-info__text {
    font-size: var(--fs-300);
  }
}

.crew__position {
  font-family: var(--ff-accent-text);
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: -1px;
  font-size: var(--fs-400);
  color: hsl(var(--off-white) 0.7);
}
.crew__name {
  font-family: var(--ff-accent-text);
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: -1px;
  font-size: var(--fs-500);
  color: var(--white);
}

.transport__intro__subtitle {
  font-family: var(--ff-simple-text);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: var(--fs-100);
  color: var(--lila);
}
.transport__intro__title {
  font-family: var(--ff-accent-text);
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: -1px;
  font-size: var(--fs-500);
  color: var(--white);
}
.transport .splide__pagination {
  font-size: var(--fs-200);
}

body {
  background-size: cover;
  background-position: center center;
}
@media (min-width: 421px) {
  body {
    overflow-y: hidden;
  }
}

.bg-home {
  background-image: url(../../assets/home/background-home-mobile.jpg);
}
@media (min-width: 421px) {
  .bg-home {
    background-image: url(../../assets/home/background-home-tablet.jpg);
  }
}
@media (min-width: 1050px) {
  .bg-home {
    background-image: url(../../assets/home/background-home-desktop.jpg);
  }
}

body.bg-destination {
  background-image: url(../../assets/destination/background-destination-mobile.jpg);
  height: auto;
}
@media (min-width: 421px) {
  body.bg-destination {
    background-image: url(../../assets/destination/background-destination-tablet.jpg);
  }
}
@media (min-width: 1050px) {
  body.bg-destination {
    background-image: url(../../assets/destination/background-destination-desktop.jpg);
  }
}

.bg-crew {
  background-image: url(../../assets/crew/background-crew-mobile.jpg);
}
@media (min-width: 421px) {
  .bg-crew {
    background-image: url(../../assets/crew/background-crew-tablet.jpg);
  }
}
@media (min-width: 1050px) {
  .bg-crew {
    background-image: url(../../assets/crew/background-crew-desktop.jpg);
  }
}

.bg-transport {
  background-image: url(../../assets/transport/background-technology-mobile.jpg);
}
@media (min-width: 421px) {
  .bg-transport {
    background-image: url(../../assets/transport/background-technology-tablet.jpg);
  }
}
@media (min-width: 1050px) {
  .bg-transport {
    background-image: url(../../assets/transport/background-technology-desktop.jpg);
  }
}

@media (min-width: 421px) {
  body {
    overflow-y: hidden;
  }
}

main .section-title {
  margin-bottom: 2rem;
}
@media (min-width: 421px) {
  main .section-title {
    margin: 0;
    text-align: left;
    margin-left: 2rem;
    margin-top: 1rem;
  }
}
@media (min-width: 1050px) {
  main .section-title {
    margin: 0;
  }
}

.grid--home {
  display: grid;
  grid-template-columns: 1fr;
  height: min(85vh, 1050px);
  align-content: space-around;
  align-items: end;
  text-align: center;
}
@media (min-width: 1050px) {
  .grid--home {
    margin-block: 0;
    text-align: left;
    justify-content: space-between;
    grid-template-columns: 0.5fr 1fr;
  }
}

@media (min-width: 1050px) {
  .home__wrapper-btn {
    text-align: right;
  }
}

.grid--destination {
  justify-items: center;
  display: grid;
  grid-template-columns: 1fr;
}
.grid--destination .destination-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.destination {
  text-align: center;
}
.destination__img img {
  --_height: 12rem;
  height: var(--_height);
  margin-block: 2rem;
}
.destination__hr {
  margin-block: 2rem;
  background-color: hsl(var(--off-white) 0.2);
  height: 0.5px;
}

.travel-info__title {
  margin-bottom: 0.5rem;
}
.travel-info__text {
  margin-bottom: 2rem;
}

@media (min-width: 421px) {
  .destination__img img {
    --_height: 18rem;
  }
  .travel-info {
    display: flex;
    justify-content: space-around;
  }
  .travel-info__title {
    margin-bottom: 0.5rem;
  }
  .travel-info__text {
    margin-bottom: 2rem;
  }
}
@media (min-width: 421px) {
  .container.grid--destination {
    width: 75%;
  }
}

@media (min-width: 1050px) {
  .destination {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: left;
  }
  .destination__img img {
    --_height: 28rem;
    margin-block: 0;
  }
  .destination__planet-text {
    max-width: 55ch;
  }
  .grid--destination {
    grid-template-columns: 1.5fr 1fr;
    max-width: 100%;
    margin: 0;
    justify-content: space-between;
    justify-items: normal;
  }
  .grid--destination .destination-wrapper {
    align-items: normal;
    align-content: space-between;
    flex-wrap: wrap;
    flex-direction: unset;
  }
  .container.grid--destination {
    width: 100%;
  }
  .travel-info {
    justify-content: space-between;
  }
  .travel-info__title {
    margin-bottom: 0.5rem;
  }
  .travel-info__text {
    margin-bottom: 0;
  }
}
.crew {
  text-align: center;
}
.crew__hr {
  background-color: hsl(var(--off-white) 0.2);
  height: 1px;
  width: 100%;
}
@media (min-width: 421px) {
  .crew__hr {
    display: none;
  }
}

.crew__grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
.crew__grid-item--photo {
  grid-row: 1/2;
}
.crew__grid-item--photo img {
  --_height: 14rem;
  height: var(--_height);
}
.crew__grid-item--intro {
  margin-top: 4.5rem;
}

@media (min-width: 421px) {
  .crew {
    position: relative;
  }
  .crew__grid {
    height: 90vh;
    justify-content: space-between;
  }
  .crew__grid-item--photo {
    grid-row: 2/3;
  }
  .crew__grid-item--photo img {
    --_height: 37rem;
  }
  .crew__grid-item--intro {
    margin-top: 0;
    max-width: 80ch;
  }
  .crew .splide {
    position: absolute;
    top: 8vh;
    left: 50%;
    translate: -50%;
  }
}
@media (min-width: 1050px) {
  .crew {
    height: auto;
    text-align: left;
  }
  .crew__grid {
    grid-template-columns: 1.3fr 1fr;
  }
  .crew__grid-item--intro {
    justify-self: left;
    margin-top: 5vh;
    max-width: none;
  }
  .crew__grid-item--photo {
    grid-row: auto;
  }
  .crew__grid-item--photo img {
    --_height: 80vh;
    max-height: 55rem;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .crew__info {
    max-width: 55ch;
  }
  .crew .splide {
    width: 100%;
    max-width: 1200px;
    position: absolute;
    top: auto;
    bottom: -100vh;
    left: 50%;
    translate: -50%;
  }
}
.transport {
  text-align: center;
  /*
    these values of padding-inline are the division of the rest
    of what is left of the width set i the utility class container
    and then that value I divide it by 2, this way this page keep the same
    aspect as the rest of the htmls 
  */
}
.transport__intro {
  padding-inline: 5%;
}
@media (min-width: 421px) {
  .transport__intro {
    padding-inline: 17.5%;
    margin-top: 1.6rem;
  }
}
@media (min-width: 1050px) {
  .transport__intro {
    padding-inline: 7.5%;
  }
}
.transport__intro__info {
  margin-top: 1rem;
}

.transport__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15vh;
  margin-bottom: 5vh;
}
@media (min-width: 421px) {
  .transport__grid {
    margin-top: 3rem;
    gap: 10rem;
  }
}

@media (min-width: 421px) {
  .transport {
    margin-top: 2.5rem;
  }
}
@media (min-width: 1050px) {
  .transport__grid {
    grid-template-columns: 1fr 1fr;
    gap: 10vh;
  }
  .transport {
    text-align: left;
  }
  .transport__photo {
    grid-column: 2/3;
  }
  .transport__intro {
    grid-row: 1/2;
  }
}
.home__btn {
  --_height: 11rem;
  height: var(--_height);
  aspect-ratio: 1;
  background-color: var(--white);
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 300ms ease, opacity 300ms ease;
}

@media (hover: hover) {
  .home__btn:hover {
    box-shadow: 0 0 1px 4rem hsl(var(--off-white) 0.2);
  }
}
.home__btn:active {
  opacity: 0.8;
}

@media (min-width: 421px) {
  .home__btn {
    --_height: 15rem;
  }
}
header .flex--row {
  align-items: center;
}

.logo {
  height: 3rem;
}

.line {
  display: none;
}

.nav-toggle {
  display: none;
}

.main-navbar {
  --_blur: 2rem;
  display: flex;
  padding-left: 2rem;
  background-color: hsl(var(--off-white) 0.1);
  -webkit-backdrop-filter: blur(var(--_blur));
          backdrop-filter: blur(var(--_blur));
  z-index: 1;
}

.nav__list {
  --_gap: 2rem;
  display: flex;
  gap: var(--_gap);
}

.nav__item {
  cursor: pointer;
}

.nav__item a {
  transform: translateY(0);
}

@media (max-width: 420px) {
  .logo {
    height: 2rem;
    margin: 1.5rem;
  }
  .nav__list {
    flex-direction: column;
    padding-top: 6rem;
  }
  .main-navbar {
    position: fixed;
    inset: 0 0 0 30%;
    transform: translateX(100%);
    transition: transform 300ms ease-in-out;
  }
  .main-navbar.menu-open {
    transform: translateX(0);
  }
  .nav-toggle {
    display: block;
    position: absolute;
    z-index: 10;
    right: 1.5rem;
    top: 2rem;
    background: transparent;
    background-image: url(../../assets/shared/icon-hamburger.svg);
    background-repeat: no-repeat;
    width: 1.5rem;
    aspect-ratio: 1;
    border: 0;
  }
  .nav-toggle.menu-close {
    background-image: url(../../assets/shared/icon-hamburger.svg);
    animation: nav-toggle-close 300ms ease-in-out;
  }
  @keyframes nav-toggle-close {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  .nav-toggle.menu-open {
    background-image: url(../../assets/shared/icon-close.svg);
    animation: nav-toggle-x 300ms ease-in-out;
  }
  @keyframes nav-toggle-x {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
}
@media (min-width: 421px) {
  header {
    margin-left: 2rem;
  }
  .main-navbar {
    margin-left: auto;
    padding-left: 3rem;
    padding-right: 5rem;
  }
  .nav__item {
    display: grid;
    place-items: center;
    --_indicator-height: 3px;
  }
  .nav__item a {
    padding-block: 2rem;
  }
  .nav__item.current-page {
    border-bottom: var(--_indicator-height) solid var(--white);
  }
  .nav__item.current-page a {
    transform: translateY(1.1px);
  }
  .nav__item--number {
    display: none;
  }
}
@media (min-width: 1050px) {
  header {
    margin-top: 4rem;
    margin-left: 3rem;
  }
  .logo {
    margin-right: 4rem;
  }
  .line {
    display: block;
    width: 37vw;
    height: 1.5px;
    z-index: 2;
    background-color: hsla(var(--off-white) 0.15);
  }
  .main-navbar {
    padding: 0 6rem;
    position: absolute;
    right: 0;
    width: 55vw;
  }
  .nav__item--number {
    display: inline;
  }
  .nav__item:hover {
    border-bottom: var(--_indicator-height) solid var(--lila);
  }
  .nav__item:hover a {
    transform: translateY(1.1px);
  }
  .nav__item:active {
    border-bottom: var(--_indicator-height) solid var(--white);
  }
  .nav__item.current-page:hover {
    border-bottom: var(--_indicator-height) solid var(--white);
  }
}
[data-tab-content] {
  display: none;
}

.tab-active[data-tab-content] {
  display: block;
}

.destination__tabs-list {
  --_gap: 1.5rem;
  gap: var(--_gap);
}

.destination__tab {
  padding-block: 0.5rem;
  cursor: pointer;
}

.destination__tab:hover {
  padding-block: 0.5rem;
  border-bottom: 3px solid hsl(var(--off-white) 0.8);
}

.tab-active.destination__tab {
  color: var(--white);
  border-bottom: 3px solid var(--white);
}

.crew .splide__pagination {
  margin: 0;
  padding: 0;
  gap: 1.1rem;
  position: absolute;
  top: 16rem;
  left: 50%;
  translate: -50%;
}
.crew .splide__pagination__page {
  background-color: hsl(var(--off-white) 0.3);
  border: none;
  border-radius: 50%;
  height: 0.8rem;
  aspect-ratio: 1;
  cursor: pointer;
}
.crew .splide__pagination__page.is-active {
  background-color: var(--white);
  transition: background-color 300ms;
}
.crew .splide__pagination__page.is-active:hover {
  background-color: var(--white);
}
.crew .splide__pagination__page:hover {
  background-color: hsl(var(--off-white) 0.6);
  transition: background-color 300ms;
}

@media (min-width: 421px) {
  .crew .splide__pagination {
    top: 23vh;
  }
}
@media (min-width: 1050px) {
  .crew .splide__pagination {
    position: absolute;
    top: 45vh;
    left: 3.5rem;
  }
}
.transport .splide__pagination {
  margin: 0;
  padding: 0;
  gap: 1rem;
  position: absolute;
  top: 11.5rem;
  left: 50%;
  translate: -50%;
}
.transport .splide__pagination__page {
  color: var(--white);
  background-color: transparent;
  border: 1px solid hsl(var(--off-white) 0.3);
  border-radius: 50%;
  height: 2.5rem;
  aspect-ratio: 1;
  cursor: pointer;
}
.transport .splide__pagination__page.is-active {
  background-color: var(--white);
  color: var(--black);
  transition: background-color 300ms;
}
.transport .splide__pagination__page.is-active:hover {
  background-color: var(--white);
}
.transport .splide__pagination__page:hover {
  border-color: var(--white);
  transition: border-color 300ms;
}

@media (min-width: 421px) {
  .transport .splide__pagination {
    top: 29rem;
  }
  .transport .splide__pagination__page {
    height: 3.75rem;
  }
}
.transport__photo {
  padding-inline: 0;
}
.transport__photo img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 421px) {
  .transport__photo img {
    height: 22rem;
  }
}

.transport__photo--portrait {
  display: none;
}

@media (min-width: 1050px) {
  .transport__photo--portrait {
    display: block;
  }
  .transport__photo--landscape {
    display: none;
  }
  .transport__photo {
    justify-self: end;
  }
  .transport__photo img {
    height: 60vh;
    -o-object-fit: contain;
       object-fit: contain;
  }
}/*# sourceMappingURL=style.css.map */