@use "../../util" as u;

.crew {
    text-align: center;

    &__hr {
        background-color: hsl(var(--off-white) 0.2);
        height: 1px;
        width: 100%;

        @include u.media (u.$tablet) {
            display: none;
        }
    }
}

.crew__grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;

    &-item--photo {
        grid-row: 1 / 2;

        img {
            --_height: 14rem;
            height: var(--_height);
        }
    }

    &-item--intro {
        margin-top: 4.5rem;
    }
}

// ------------
// CAROUSEL BUTTON STYLES
// ------------


.crew {
    // this classes are added by the splidejs library (link splide-core which only include the basics)
    .splide__pagination {
        margin: 0;
        padding: 0;
        gap: 1.1rem;
    
        position: absolute;
        top: 16rem;
        left: 50%;
        translate: -50%;
      }
      
    .splide__pagination__page {
        background-color: hsl(var(--off-white) 0.3);
        border: none;
        border-radius: 50%;
        height: 0.8rem;
        aspect-ratio: 1;
        cursor: pointer;
    }
      
    .splide__pagination__page.is-active {
        background-color: var(--white);
        transition: background-color 300ms;
    }

    .splide__pagination__page.is-active:hover {
        background-color: var(--white);
    }
      
    .splide__pagination__page:hover {
        background-color: hsl(var(--off-white) 0.6);
        transition: background-color 300ms;
    }
}



// **********
// CREW MEDIA TABLET
// **********

@include u.media (u.$tablet) {
    .crew{
        position: relative;

        &__grid {
            height: 90vh;
            justify-content: space-between;
    
            &-item--photo {
                grid-row: 2 / 3;
        
                img {
                    --_height: 37rem;
                }
            }
        
            &-item--intro {
                margin-top: 0;
                max-width: 80ch;
            }
        }

        .splide {
            position: absolute;
            top: 8vh;
            left: 50%;
            translate: -50%;
        }
        
        .splide__pagination {
            top: 23vh;
        }
    }
}


// **********
// CREW MEDIA DESKTOP
// **********

@include u.media (u.$desktop) {
    .crew{
        height: auto;
        text-align: left;

        &__grid {
            grid-template-columns: 1fr 1fr;

            &-item--intro {
                justify-self: left;
                margin-top: 15vh;
            }

            &-item--photo {
                grid-row: auto;
        
                img {
                    --_height: 47rem;
                }
            }
        }
    
        &__info {
            max-width: 55ch;
        }

        .splide {
            position: relative;
            max-width: 1200px;
            position: absolute;
            top: auto;
            bottom: -90vh;
            left: 50%;
            translate: -50%;
        }

        .splide__pagination {
            position: absolute;
            top: 30rem;
            left: 3.5rem;
          }
    }
}