@use "../../util" as u;

.grid--destination {
    justify-items: center;

    .destination-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.destination {
    text-align: center;

    &__img {
        img{
            --_height: 12rem;
            height: var(--_height);
            margin-block: 2rem;
        }
    }

    &__hr {
        margin-block: 2rem;
        background-color: hsl(var(--off-white) 0.2);
        height: 0.5px;
    }
}

.travel-info {

    &__title {
       margin-bottom: 0.5rem;
    }

    &__text {
        margin-bottom: 2rem;
    }
}


// **********
// DESTINATION MEDIA TABLET
// **********

@include u.media (u.$tablet) {

    .destination {
        &__img {
            img{
                --_height: 18rem;
            }
        }
    }

    .travel-info {
        display: flex;
        justify-content: space-around;
    
        &__title {
           margin-bottom: 0.5rem;
        }
    
        &__text {
            margin-bottom: 2rem;
        }
    }
}

.container.grid--destination {
    @include u.media (u.$tablet) {
        width: 75%;
    }
}



// **********
// DESTINATION MEDIA DESKTOP
// **********

@include u.media (u.$desktop) {

    .destination {
        display: flex;
        flex-direction: column;
        gap: 3rem;
        text-align: left;

        &__img {
            img{
                --_height: 28rem;
                margin-block: 0;
            }
        }
    }

    .destination__planet-text {
            max-width: 55ch;
    }

    .grid--destination {
        max-width: 100%;
        margin: 0;
        justify-content: space-between;
        justify-items: normal;

        .destination-wrapper{
            align-items: normal;
            align-content: space-between;
            flex-wrap: wrap;
            flex-direction: unset;

        }
    }

    .travel-info {
        justify-content: space-between;

        &__title {
            margin-bottom: 0.5rem;
         }
     
         &__text {
             margin-bottom: 0;
         }
    }
}

.container.grid--destination {
    @include u.media (u.$desktop) {
        width: 100%;
    }
}