@use "../../util" as u;

.transport {
    text-align: center;
        
        /*
          these values of padding-inline are the division of the rest
          of what is left of the width set i the utility class container
          and then that value I divide it by 2, this way this page keep the same
          aspect as the rest of the htmls 
        */
        &__intro {
            padding-inline: 5%;

            @include u.media (u.$tablet) {
                padding-inline: 17.5%;
                margin-top: 1.6rem;
            }

            @include u.media (u.$desktop) {
                padding-inline: 7.5%;
            }
        }

        &__intro__info {
            margin-top: 1rem;
        }
}

.transport__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15vh;
    margin-bottom: 5vh;

    @include u.media (u.$tablet) {
        margin-top: 3rem;
        gap: 10rem;
    }
}

// **********
// TRANSPORT MEDIA DESKTOP
// **********

@include u.media (u.$desktop) {

    .transport__grid {
        grid-template-columns: 1fr 1fr;
        gap: 10vh;
    }

    .transport {
        text-align: left;
    }
}