@use "../util" as u;

// **********
// GENERAL TAB STYLES
// **********

[data-tab-content] {
    display: none;
  }
  
.tab-active[data-tab-content] {
    display: block;
}

.destination__tabs-list {
    --_gap: 1.5rem;
    gap: var(--_gap);
}

.destination__tab {
    padding-block: 0.5rem;
    cursor: pointer;
}

.destination__tab:hover {
    padding-block: 0.5rem;
    border-bottom: 3px solid hsl(var(--off-white) 0.8);
}

.tab-active.destination__tab {
    color: var(--white);
    border-bottom: 3px solid var(--white);
}