// typography styles are in the globals folder

header {
    padding: 3rem 2rem;
    padding-right: 0;
    align-items: center;
}

.logo {
    margin-right: 3rem;
}

.line {
    width: 30%;
    height: 2px;
    z-index: 2;
    background-color: hsla(var(--off-white) / 0.1);
}

// --------------
// GENERAL STYLES NAV
// --------------

.main-navbar {
    display: flex;
    position: absolute;
    right: 0;
    height: 5rem; 
    // el width se puede mejorar para que sea mas responsive
    // !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    width: max(60vw, 1000px);
    padding: 0 6rem;
    background-color: hsla(var(--off-white) / 0.05);
    backdrop-filter: blur(0.5rem);
    z-index: 1;
}

.nav__list {
    display: flex;
    height: 100%;
    gap: 2rem;
}
// agregar que se cambie de html clickando en cualquier parte del nav__item
// !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
.nav__item {
    display: grid;
    place-items: center;
    cursor: pointer;
}

// --------------
// STATUS STYLES
// --------------

$underline-thick: 3px;

.nav__item:hover {
    border-bottom: $underline-thick solid var(--lila);
}

.nav__item:hover a{
    transform: translateY(1.1px);
}

.nav__item:active {
    border-bottom: $underline-thick solid var(--white);
}

.nav__item.current-page {
    border-bottom: $underline-thick solid var(--white);
}

.nav__item.current-page a{
    transform: translateY(1.1px);
}

