@use "../util" as u;

// typography styles are in the globals folder

header {
    margin-left: 2rem;
    align-items: center;
}

.logo {
    margin-right: 4rem;
}

.line {
    display: none;
}

// --------------
// GENERAL STYLES NAV
// --------------

.main-navbar {
    display: flex;
    width: clamp(400px, 55vw, 60vw);
    padding-left: clamp(1rem, 3rem, 6rem);
    background-color: hsla(var(--off-white) / 0.1);
    backdrop-filter: blur(1rem);
}

.nav__list {
    display: flex;
    gap: 2.5rem;
}

.nav__item {
    // display: grid;
    // place-items: center;
    cursor: pointer;
}

.nav__item a{
    // padding: 2.5rem 0;
    transform: translateY(0);
}


// NAVIGATION FOR MOBILE
@include u.media(u.$mobile) {

    .logo {
        height: 2rem;
    }
    

    .main-navbar {
        position: fixed;
        inset: 0 0 0 35%;
    }

    .nav {

        &__list{
            flex-direction: column;
        }
    }
}





// NAVIGATION FOR TABLET

@include u.media(u.$tablet) {
    
    .main-navbar {
        position: absolute;
        right: 0;
    }
}



// NAVIGATION FOR DESKTOP
@include u.media(u.$desktop) {
    header {
        margin-top: 4rem;
        margin-left: 3rem;
    }

    .line {
        display: block;
        width: 40%;
        height: 0.5px;
        z-index: 2;
        background-color: hsla(var(--off-white) / 0.3);
    }

    .main-navbar {
        padding: 0 6rem;
        position: absolute;
        right: 0;
        z-index: 1;
    }

        // --------------
        // STATUS STYLES
        // --------------

        $indicator-height: 3px;

        .nav__item:hover {
            border-bottom: $indicator-height solid var(--lila);
        }

        .nav__item:hover a{
            transform: translateY(1.1px);
        }

        .nav__item:active {
            border-bottom: $indicator-height solid var(--white);
        }

        .nav__item.current-page {
            border-bottom: $indicator-height solid var(--white);
        }

        .nav__item.current-page a{
            transform: translateY(1.1px);
        }
    
}