@use "../util/mixins" as m;
@use "../util/sass-variables" as v;

.container {
    width: 90%;
    margin-inline: auto;
    max-width: 1200px;

    @include m.media (v.$tablet) {
        width: 65%;
        margin-top: 1rem;
    }

    @include m.media (v.$desktop) {
        width: 85%;
    }
}

.transport__container {
    max-width: 1200px;

    @include m.media (v.$tablet) {
        margin-top: 1rem;
    }
}

.container--section {
    @include m.media (v.$tablet) {
        margin-top: 2.5rem;
    }

    @include m.media (v.$desktop) {
        margin-top: 5vh;
        width: 85%;
        margin-inline: auto;
        max-width: 1200px;
    }
}

.flex--row {
    display: flex;
}
