@use "./sass-variables" as v;

// ------media query------

@mixin media ($width) {
    @if $width != v.$mobile {
        @media (min-width: $width) {
            @content;
        }
    } @else {
        @media (max-width: $width) {
            @content;
        }
    }
}

// ------backgrounds------

@mixin bg ($bg-position: bottom){
    background-size: cover;
    background-position: $bg-position center;
}

// ------titles with Barllow Condensed font------

@mixin barllow-title ($font-size, $color) {
    font-family: var(--ff-simple-text);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: $font-size;
    color: $color;
}

// ------text with Barllow font------

@mixin regular-text ($font-size, $color: var(--lila)) {
    font-family: var(--ff-simple-text-2);
    line-height: 1.7;
    font-weight: 300;
    font-size: $font-size;
    color: $color;
}

// ------titles or text with bellefair font------

@mixin accent-text ($font-size, $color: var(--white), $letter-spacing: 3px) {
    font-family: var(--ff-accent-text);
    text-transform: uppercase;
    letter-spacing: $letter-spacing;
    font-size: $font-size;
    color: $color;
}