@use "./sass-variables" as v;

@mixin media ($width) {
    @if $width != v.$mobile {
        @media (min-width: $width) {
            @content;
        }
    } @else {
        @media (max-width: $width) {
            @content;
        }
    }
}

@mixin barllow-title ($font-size, $color) {
    font-family: var(--ff-simple-text);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 300;
    font-size: $font-size;
    color: $color;
}