@use "sass-variables" as v;
@use "mixins" as m;

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');

//ff = font family
//fs = font size

:root {
    --ff-accent-text: 'Bellefair', serif;
    --ff-simple-text: 'Barlow Condensed', sans-serif;

    --fs-100: 0.9rem;
    --fs-200: 1rem;
    --fs-300: 1.5rem;
    --fs-400: 1.8rem;
    --fs-500: 3.4rem;
    --fs-600: 5.9rem;
    --fs-700: 8.7rem;
}

@include m.media(v.$tablet) {
    :root {
        --fs-300: 1.8rem;
        --fs-400: 2rem;
        --fs-500: 3.8rem;
        --fs-600: 6.3rem;
        --fs-700: 9.4rem;
    }
}

@include m.media(v.$desktop) {
    :root {
        --fs-300: 1.8rem;
        --fs-400: 2rem;
        --fs-500: 3.8rem;
        --fs-600: 6.3rem;
        --fs-700: 9.4rem;
    }
}