@use "../util" as u;

body {
    @include u.media (u.$desktop) {
        overflow-y: hidden;
    }
}

main .section-title {
    @include u.media (u.$tablet){
        text-align: left;
        margin-left: 2rem;
        margin-top: 1rem;
    }

}

// **********
// HOME LAYOUT
// **********

.grid--home {
    height: min(85vh, 1050px);
    align-content: space-around;
    align-items: end;
    text-align: center;

    @include u.media (u.$desktop) {
        margin-block: 0;
        text-align: left;
        justify-content: space-between;
        grid-template-columns: 0.5fr 1fr;
    }
}

.home__wrapper-btn {
    @include u.media (u.$desktop) {
        text-align: right;
    }
}

// **********
// DESTINATION LAYOUT
// **********

.grid--destination {
    justify-items: center;

    .destination-wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.destination {
    text-align: center;

    &__img {
        img{
            --_height: 12rem;
            height: var(--_height);
            margin-block: 2rem;
        }
    }

    &__hr {
        margin-block: 2rem;
        background-color: hsl(var(--off-white) 0.2);
        height: 0.5px;
    }
}

.travel-info {

    &__title {
       margin-bottom: 0.5rem;
    }

    &__text {
        margin-bottom: 2rem;
    }
}



// **********
// DESTINATION MEDIA TABLET
// **********

@include u.media (u.$tablet) {

    .destination {
        &__img {
            img{
                --_height: 18rem;
            }
        }
    }

    .travel-info {
        display: flex;
        justify-content: space-around;
    
        &__title {
           margin-bottom: 0.5rem;
        }
    
        &__text {
            margin-bottom: 2rem;
        }
    }
}

.container.grid--destination {
    @include u.media (u.$tablet) {
        width: 75%;
    }
}



// **********
// DESTINATION MEDIA DESKTOP
// **********

@include u.media (u.$desktop) {

    .destination {
        display: flex;
        flex-direction: column;
        gap: 3rem;

        width: 85%;
        margin-inline: auto;
        max-width: 1200px;
        text-align: left;

        &__img {
            img{
                --_height: 28rem;
                margin-block: 0;
            }
        }
    }

    .destination__planet {

        &-text {
            max-width: 55ch;
        }
    }

    .grid--destination {
        max-width: 100%;
        margin: 0;
        justify-content: space-between;
        justify-items: normal;

        .destination-wrapper{
            align-items: normal;
            align-content: space-between;
            flex-wrap: wrap;
            flex-direction: unset;

        }
    }

    .travel-info {
        justify-content: space-between;

        &__title {
            margin-bottom: 0.5rem;
         }
     
         &__text {
             margin-bottom: 0;
         }
    }
}

.container.grid--destination {
    @include u.media (u.$desktop) {
        width: 100%;
    }
}