@use "../util/" as u;

// **********
// NAV TYPOGRAPHY
// **********

.nav {
    @include u.barllow-title(var(--fs-200), var(--white));

    &__item {
        &--number {
            margin-right: 0.5rem;
            font-weight: 700;
        }
    }
}

// **********
// HOME TYPOGRAPHY
// **********

.home__btn {
    font-family: var(--ff-accent-text);
    text-transform: uppercase;
    font-size: var(--fs-400);
    letter-spacing: 2px;
    color: var(--black);
}



